app-toolbar {
    width: 95vw;
    margin-top: 8px;
    border-radius: 6px 6px 0px 0px;
    background-color: white;
}

app-body {
    background-color: white;
    flex-grow: 1;
    width: 95vw;
    margin-bottom: 12px;
    border-radius: 0 0 12px 12px;
}

