.container-home {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80vw;
    height: 100%;
    text-align: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 100px;
}

.welcome {
    font-size: x-large;
    text-align: center;
}

.description {
    font-size: medium;
}