<div class="container-toolbar">
    <p class="my-name">Thagner Moreira Uramoto</p>
    <span>
        <img src="assets/icons/angular_icon.png" alt="Angular icon">
        Angular
    </span>
    <span>
        <img src="assets/icons/delphi_icon.png" alt="Delphi icon" >
        Delphi
    </span>
    <span>
        <img src="assets/icons/csharp_icon.png" alt="C# icon">
        C#
    </span>
    <span>
        <img src="assets/icons/kotlin_icon.png" alt="Kotlin icon">
        Kotlin
    </span>
</div>